<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t '.sign_up' %></h4>
    </div>
    <div class="panel-body">
      <%= simple_form_for(resource, as: resource_name, url: user_registration_path, html: { class: 'are-you-sure no-submit-on-enter' }) do |f| %>
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true %>
        <%= f.input :password_confirmation, required: true %>

        <div class="form-group">
          <%= f.label :claiming_wca_id, t('wca.devise.let_us_know') %><br />

          <%# have competed %>
          <%= f.radio_button :claiming_wca_id, "true" %>
          <%= f.label :claiming_wca_id_true, t('wca.devise.have_competed') %><br />

          <%# never competed %>
          <%= f.radio_button :claiming_wca_id, "false" %>
          <%= f.label :claiming_wca_id_false, t('wca.devise.have_never_competed') %><br />
        </div>

        <div class="form-group collapse" id="have-competed">
          <p>
            <%= t 'wca.devise.welcome_back' %>
          </p>
          <%= render "users/claim_wca_id_selector", f: f %>
        </div>

        <div class="form-group collapse" id="never-competed">
          <p>
            <%= t 'wca.devise.welcome_html' %>
          </p>
          <%# Copied from app/views/users/edit.html.erb %>
          <%= f.input :name %>
          <%= f.input :dob, as: :date_picker %>
          <%= f.input :gender %>
          <%= f.input :country_iso2, collection: Country.all_sorted_by(I18n.locale, real: true), value_method: lambda { |c| c.iso2 }, label_method: lambda { |c| c.name } %>
        </div>

        <%= recaptcha_tags %>
        <br>
        <%= f.submit t('.sign_up'), class: "btn btn-primary", disabled: true %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(function() {
    var $claiming_wca_id = $('input[name="user[claiming_wca_id]"]:checked');

    var $haveCompetedRadio = $('#user_claiming_wca_id_true');
    var $haveCompetedForm = $('#have-competed');

    var $neverCompetedRadio = $('#user_claiming_wca_id_false');
    var $neverCompetedForm = $('#never-competed');

    var $anyCompetedRadio = $(':radio[name="user[claiming_wca_id]"]');
    var $anyCompetedForm = $('.form-group.collapse');

    // Enable inputs in a panel only when that panel is shown
    $anyCompetedForm.find("input").prop("disabled", true);
    $anyCompetedForm.on('show.bs.collapse', function() {
      $(this).find("input").prop("disabled", false);
      $(this).find("select").prop("disabled", false);
    });
    $anyCompetedForm.on('hidden.bs.collapse', function() {
      $(this).find("input").prop("disabled", true);
      $(this).find("select").prop("disabled", true);
    });

    // Leave the "sign up" button disabled until the users tells us if they
    // have competed before
    $anyCompetedForm.on('show.bs.collapse', function() {
      $('input[type="submit"]').prop("disabled", false);
    });

    // Expand/collapse forms when switching radio buttons
    $anyCompetedRadio.change(function(e) {
      if ($(this).filter(':checked').val() === "true") {
        $neverCompetedForm.collapse('hide');
        $haveCompetedForm.collapse('show');
      }
      else if ($(this).filter(':checked').val() === "false") {
        $neverCompetedForm.collapse('show');
        $haveCompetedForm.collapse('hide');
      }
    });

    // Show the correct form if reloading after failed validation
    // Do this last so that all other behavior is already set up
    if ($claiming_wca_id.val() === "true") {
      $haveCompetedForm.collapse('show');
    }
    if ($claiming_wca_id.val() === "false") {
      $neverCompetedForm.collapse('show');
    }
  });
</script>
